section
  h2 Thoughts from Agile teams
  img.featured(src='img/scrum.jpg')
section
  h2 Trust
  img.featured(src='img/cat-butterfly.jpg')
section
  h2 Time = money
  h3.subtitle (and money = time)
  img.featured.less(src='img/time.jpg')
section
  h2 Principle 12
  h3.subtitle Re-evaluate everything
  img.featured.less(src='img/bins.jpg')
