section
  h2 Setting up a project
  img.featured(src='img/start.jpg')
section
  h2 What is a project?
  img.featured(src='img/project.jpg')
section
  h2 Six questions
  img.featured.evenless(src='img/notebook.jpg')
  ul.questions
    li Who?
    li.fragment What?
    li.fragment Where?
    li.fragment When?
    li.fragment Why?
    li.fragment How?
section
  h2 Tools &amp; culture
  img.featured(src='img/tools.jpg')
