section
  h2 Setting up a project
section
  h2 What is a project?
section
  h2 Six questions
  ul.questions
    li.fragment Who
    li.fragment What
    li.fragment Where
    li.fragment When
    li.fragment Why
    li.fragment How
section
  h2 Tools &amp; culture
