//- For Pug language reference, see <https://pugjs.org/api/reference.html>
section
  h1= title
  img.featured.less(src='img/switches.jpg')
  h2.subtitle= author
section
  include project.pug
section
  include trello.pug
section
  include agile.pug
section
  include whatnot.pug
section
  h1 The end
  img.featured(src='img/sunset.jpg')
