section
  h2 What is Trello?
  img.screenshot(src='img/trello-screenshot.png')
section
  h2 How to install
  h2.subtitle &amp; how to get help
  img.featured.less(src='img/platforms.png')
section
  h2 Kanban methodology
  img.featured(src='img/kanban.jpg')
section
  h2 Self-organising teams
  img.featured(src='img/flock.jpg')
section
  h2 Appropriate batch size
  img.featured(src='img/sizes.jpg')
section
  h2 Kanban hierarchy
  ul
    li Boards
    li Lists
    li Cards
    li Checklists
section
  h2 Other Trello features
  ul
    li Labels
    li Assigning
    li Due date
    li Archive
    li Powerups
    li Keyboard shortcuts
