section
  h2 Things to avoid
  img.featured(src='img/wasp.jpg')
section
  h2 Don't leave ownership unclear
  img.featured.less(src='img/boss.jpg')
section
  h2 Don't have woolly actions
  h3.subtitle &amp; do something if they fail
  img.featured.less(src='img/sheep.jpg')
section
  h2 Decision-making processes need to be clear
  img.featured.less(src='img/clear.jpg')
section
  h2 Don't be unrealistic
  img.featured(src='img/mountain.jpg')
section
  h2 Don't forget to contingency-plan
  img.featured.less(src='img/paths.jpg')
section
  h2 Don't be optimistic about risk
  img.featured(src='img/watermelons.jpg')
section
  h2 Don't forget to agree comms methods
  img.featured.less(src='img/communication.jpg')
section
  h2 No crappy meetings
  img.featured(src='img/boring.jpg')
section
  h2 Don't avoid difficult conversations
  img.featured.less(src='img/ugh.jpg')
section
  h2 Don't underestimate the role of people above you
  img.featured.less(src='img/king-queen.jpg')
