section
  h2 Things to avoid
section
  h2 Don't leave ownership unclear
section
  h2 Don't have woolly actions
  h3.subtitle &amp; do something if they fail
section
  h2 Decision-making processes need to be clear
section
  h2 Don't be unrealistic
section
  h2 Don't forget to contingency-plan
section
  h2 Don't be optimistic about risk
section
  h2 Don't forget to agree comms methods
section
  h2 No crappy meetings
section
  h2 Don't avoid difficult conversations
section
  h2 Don't underestimate the role of people above you
